HEAD

#inicio{

    background-color: #2C66EB;
    color: #fff;
    border-radius: 10px;
}

.h2asside{

    background-color: #2C66EB;
    color: #fff;
    border-radius: 10px;
}

/* Page videos Mobile */
@media (max-width: 576px) {
    
.btnini{
        text-align: center;
        margin-top: 10px;
    }

.div_trail{
    padding: 15px 0px 15px 0px;
    text-align: center;
}

.header_videos{
    text-align: center;
}

.btnini{
    margin-top: 10px;
}

.footervid{
    text-align: center;
}

.btnfoot{
    margin-top: 10px;
}

#inicio{
    padding: 10px 0px 10px 20px;
    margin: 15px 0px 15px 0px;
}

.h2asside{
    padding: 10px 0px 10px 20px;
    margin: 15px 0px 15px 0px;

}

}

@media (min-width: 576px) {
    .btnini{
        text-align: center;
        margin-top: 10px;
    }

.div_trail{
    padding: 15px 0px 15px 0px;
    text-align: center;
}

.header_videos{
    text-align: center;
}

.btnini{
    margin-top: 10px;
}

.footervid{
    text-align: center;
}

.btnfoot{
    margin-top: 10px;
}

#inicio{
    padding: 10px 0px 10px 20px;
    margin: 15px 0px 15px 0px;
}

.h2asside{
    padding: 10px 0px 10px 20px;
    margin: 15px 0px 15px 0px;

}

}

/* Page Videos tablet */
@media (min-width:768px){
    #inicio{
        padding: 10px 0px 10px 20px;
        margin: 15px 15px 15px 0px;
    }
    
    .h2asside{
        padding: 10px 0px 10px 20px;
        margin: 15px 15px 15px 0px;
    
    }
}

/* classes gerais para toda a página */
html {
    scroll-behavior: smooth;
    /*faz a navegação da página ser suave*/
    overflow-x: hidden;
    /* remove o scroll lateral */
    text-align: justify;
}

.BotaoVoltarAoTopo {
    float: left;
    margin-left: 28%;
}

.BotaoConteudoPrincipal {
    width: 100%;
}


.teste {
    border: 1px solid black;
    width: 90%;
    margin-left: 5%;
}


@media (max-width: 576px) {

    /* tela doninha */
    .headerDoninha {
        background-image: url(/images/Doninha\ principal\ Mobile.png);
        background-size: cover;
        height: 500px;
        background-repeat: no-repeat;
    }

     .videoDoninha {
        height: 300px;
    }

}


@media (min-width: 576px) {

    /* tela doninha */
    .headerDoninha {
        background-image: url(/images/Doninha\ principal\ Mobile.png);
        background-size: cover;
        height: 500px;
        align-items: center;
        background-repeat: no-repeat;
    }

     .videoDoninha {
        height: 500px;
    }
}


@media (min-width:768px) {

    /* tela doninha */
    .headerDoninha {
        background-image: url(/images/Imagemdoninhamedia.png);
        background-size: initial;
        background-repeat: no-repeat;
    }

     .videoDoninha {
        height: 500px;
    }

}


@media (min-width:992px) {

    /* tela doninha */
    .headerDoninha {
        background-image: url(/images/Imagemdoninhamedia.png);
        background-size: cover;
        height: 500px;
        align-items: center;
        background-repeat: no-repeat;
    }

    .videoDoninha {
        height: 600px;
    }


}



@media (min-width:1200px) {

    /* tela doninha */
    .headerDoninha {
        background-image: url(../images/ImagemPrincipalDoninha.png);

        background-size: cover;
        height: 500px;
        align-items: center;
        background-repeat: no-repeat;
    }

    .videoDoninha {
        height: 500px;
    }


}

/*Tela HQ*/

.h1marvel{
    background-color: #2c66eb;
    color: #fff;
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.h1dc{
    background-color: #2c66eb;
    color: #fff;
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.h5card{
    margin:15px 0px 15px 0px;
    text-align: center;
}

.card{
    margin:50px 0px 50px 0px;
    border-radius: 10px;
    box-shadow: 0 0 0.1em #808080;
}

.textocard{
    font-family: "inter", sans-serif;
    text-align: center;
    margin:0px 15px 20px 15px;
}

.botao{
    text-align: center;
    background-color: #2c66eb;
    color: #fff;
    font-family: "inter", sans-serif;
    margin:0px 20px 25px 20px;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
}

.botao:hover{
    color: #ffff;
}

.imgcard{
    border-radius: 10px 10px 0px 0px;
}




/*Tela MARVEL*/

.NomePersonagemMarvel{
    background-color: #2c66eb;
    color: #fff;
    font-family: "inter", sans-serif;
    text-align: center;
    padding: 40px 0px 40px 0px;
    margin: 0px 0px 50px 0px;
}

.h2Marvel{
    font-family: "inter", sans-serif;
    text-align: center;
    margin: 50px 0px 20px 0px;
}
.h2TituloMarvel{
    font-family: "inter", sans-serif;
    text-align: center;
    margin: 0px 0px 20px 0px;
}
.h2varianteMarvel{
    font-family: "inter", sans-serif;
    text-align: center;
    color: #fff;
}
.h4varianteMarvel{
    font-family: "inter", sans-serif;
    text-align: center;
    color: #fff;
}

.imgPersonagemMarvel{
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
}
.imagemloki{
    margin: 0px 0px 30px 0px;
}
.imagemMarvel {
    text-align: center;  
}
.variantes{
    background-color: #000;
    padding: 80px 10px 80px 10px;

}
.pvarianteMarvel{
    color: white;
}

.VideoTelaMarvel{
    text-align: center; 
    margin: 50px 0px 50px 0px;  
}
.videosMarvel{
    width: 500px;
    height: 400px;
    border-radius: 10px;
}
.NoticiasTelaMarvel{
    text-align: center;   
}





.imgoutrosPersonagemMarvel{
    text-align: center;
    margin:50px 0px 20px 0px;
}

.imgoutrosPersonagemMarvel2{
    text-align: center;
    margin:0px 0px 20px 0px;
}

.outrosPersonagemMarvel{
    text-align: center;
    margin:0px 0px 5px 0px;
}

.tituloOutrosPersonagemMarvel{
    margin:0px 0px 20px 0px;
    text-align: start;
}


.BotaoPersonagemMarvel{
    text-align: center;
    background-color: #2c66eb;
    color: #fff;
    font-family: "inter", sans-serif;
    margin:0px 0px 50px 0px;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;

}

.BotaoPersonagemMarvel:hover{
    color: #ffff;
}




.h5noticia{
     font-family: "inter", sans-serif;
     margin:15px 0px 15px 0px;
     padding: 0px 10px 0px 10px;
}

.h7noticia{
    font-family: "inter", sans-serif; 
    padding: 0px 10px 0px 10px;   
}


.textonoticia{

    font-family: "inter", sans-serif;
    padding: 0px 10px 0px 10px;  
    
}

.imgnoticia{
    border-radius: 10px 10px 0px 0px;
}


.botaonoticia{
    text-align: center;
    background-color: #2c66eb;
    color: #fff;
    font-family: "inter", sans-serif;
    margin:0px 20px 25px 20px;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
}

.botaonoticia:hover{
    color: #ffff;
}




  
  
  
  /*tela quem somos */
  
  .sobre{
    text-align: center;
  }

  .h2sobre{
    background-color: #2c66eb;
    color: #fff;
    text-align: center;
    padding: 40px 0px 40px 0px;
    margin:0px 0px 50px 0px;
}
.conteudosobre{
    margin:0px 0px 50px 0px;
}

.h3sobre{
    margin:15px 0px 15px 0px;
}

.psobre{
    font-family: "inter", sans-serif; 
}


  /*tela politica de privacidade */

  .mainpolitica{
      margin: 20px 20px 20px 20px;
  }
  
  .h2politica{
    background-color: #2c66eb;
    color: #fff;
    text-align: center;
    font-family: "inter", sans-serif; 
    padding: 40px 0px 40px 0px;
}

.h4politica{
    font-family: "inter", sans-serif; 
    margin:15px 0px 15px 0px;
}

.psobre{
    font-family: "inter", sans-serif; 
}