/* css geral page Videos */
#inicio {

    background-color: #2C66EB;
    color: #fff;
    border-radius: 10px;
}

.h2asside {

    background-color: #2C66EB;
    color: #fff;
    border-radius: 10px;
}

/* css geral page Comic Con */

.headercc {
    margin-bottom: 25px;
}

.headercc img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inicc {
    text-align: center;
    margin-bottom: 25px;
}

.pccxp {
    margin: 0px 15px 0px 15px;
    font-size: 1.4em;
}

.imgccxp {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.h1tal {
    text-align: center;
    margin: 0px 0px 25px 0px;
}


.h2ing {
    margin: 5px 15px 15px 15px;
}

.h2fim {
    margin: 0px 0px 10px 15px;
}

/* classes gerais para toda a página */
html {
    scroll-behavior: smooth;
    /*faz a navegação da página ser suave*/
    overflow-x: hidden;
    /* remove o scroll lateral */
    text-align: justify;
}

.BotaoVoltarAoTopo {
    float: left;
    margin-left: 28%;
}

.BotaoConteudoPrincipal {
    width: 100%;
}


.teste {
    border: 1px solid black;
    width: 90%;
    margin-left: 5%;
}


@media (max-width: 576px) {

    /* tela doninha */
    .headerDoninha {
        background-image: url(/images/Doninha\ principal\ Mobile.png);
        background-size: cover;
        height: 500px;
        background-repeat: no-repeat;
    }

    .videoDoninha {
        height: 300px;
    }

    .NoticiaDC2 {
        display: none;
    }

    /* Page videos Mobile */

    .btnini {
        text-align: center;
        margin-top: 10px;
    }

    .div_trail {
        padding: 15px 0px 15px 0px;
        text-align: center;
    }

    .header_videos {
        text-align: center;
    }

    .btnini {
        margin: 15px 0px 15px 0px;
    }

    .footervid {
        text-align: center;
    }

    .btnfoot {
        margin-top: 10px;

    }

    #inicio {
        padding: 10px 0px 10px 20px;
        margin: 15px 0px 15px 0px;
    }

    .h2asside {
        padding: 10px 0px 10px 20px;
        margin: 15px 0px 15px 0px;

    }

    /* page Comic Con */
    .diving {
        text-align: center;
        margin: 45px 0px 45px 0px;
    }

    .h3ingd {
        margin: 25px 0px 20px 0px;
    }

    .divart {
        text-align: center;
        margin: 45px 0px 45px 0px;
    }

    .hart {
        margin: 5px 0px 0px 0px;
    }
}


@media (min-width: 576px) {

    /* tela doninha */
    .headerDoninha {
        background-image: url(/images/Doninha\ principal\ Mobile.png);
        background-size: cover;
        height: 500px;
        align-items: center;
        background-repeat: no-repeat;
    }

    .videoDoninha {
        height: 500px;
    }

    .NoticiaDC2 {
        display: none;
    }


    /* Page Videos  */

    .btnini {
        text-align: center;
        margin-top: 10px;
    }

    .div_trail {
        padding: 15px 0px 15px 0px;
        text-align: center;
    }

    .header_videos {
        text-align: center;
    }

    .btnini {
        margin-top: 10px;
    }

    .footervid {
        text-align: center;
    }

    .btnfoot {
        margin-top: 10px;
    }

    #inicio {
        padding: 10px 0px 10px 20px;
        margin: 15px 0px 15px 0px;
    }

    h2asside {
        padding: 10px 0px 10px 20px;
        margin: 15px 0px 15px 0px;

    }

    /* page Comic Con */
    .diving {
        text-align: center;
        margin: 45px 0px 45px 0px;
    }

    .h3ingd {
        margin: 25px 0px 20px 0px;
    }

    .divart {
        text-align: center;
        margin: 45px 0px 45px 0px;
    }

    .hart {
        margin: 5px 0px 0px 0px;
    }
}


@media (min-width:768px) {

    /* tela doninha */
    .headerDoninha {
        background-image: url(/images/Imagemdoninhamedia.png);
        background-size: initial;
        background-repeat: no-repeat;
    }

    .videoDoninha {
        height: 500px;
    }

    .NoticiaDC2 {
        display: none;
    }

    /* Page Videos tablet */

    #inicio {
        padding: 10px 0px 10px 20px;
        margin: 15px 15px 15px 0px;
    }

    .h2asside {
        padding: 10px 0px 10px 20px;
        margin: 15px 15px 15px 0px;

    }

}


@media (min-width:992px) {

    /* tela doninha */
    .headerDoninha {
        background-image: url(/images/Imagemdoninhamedia.png);
        background-size: cover;
        height: 500px;
        align-items: center;
        background-repeat: no-repeat;
    }

    .videoDoninha {
        height: 600px;
    }

    .NoticiaDC2 {
        display: none;
    }

}



@media (min-width:1200px) {

    /* tela doninha */
    .headerDoninha {
        background-image: url(../images/ImagemPrincipalDoninha.png);

        background-size: cover;
        height: 500px;
        align-items: center;
        background-repeat: no-repeat;
    }

    .videoDoninha {
        height: 500px;
    }


    .NoticiaDC {
        display: none;
    }

    .NoticiaDC2 {
        display: block;
    }

}